.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: normal;
  }
  
  .logo {
    text-align: center;
    font-size: 50px;
    color: red;
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position:absolute;
    top: 20%;
    margin-left: 43%;
    margin-top: 90px;
    font-family: Poppins;
    font-weight: bold;
  }
  .drop{
    position: relative;
    top: -150px;
    margin-left: 30.5%;
    margin-right: 20%;

  }
  .location{
    height: 30px;
    width: 150px;
    color:gray;
    font-size: 15px;
    margin-right: 21px;
    margin-bottom: 25px;
    float: left;
  }

  
